Flask==2.3.3
WTForms==3.1.2
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4

# Setelah membuat file ini, kamu bisa install semua dependensi sekaligus dengan:

# pip install -r requirements.txt