{% extends "base.html" %}
{% block title %}Tentang{% endblock %}
{% block content %}
<h2>Tentang Aplikasi</h2>
<p>Aplikasi ini memungkinkan pengguna mencari berita pada dataset <strong>Kompas, cnn, detik, tbh</strong> menggunakan algoritma pencarian <strong>BM25</strong>.</p>
<p>Setiap berita memiliki atribut seperti judul, isi, ringkasan, dan label <strong>hoaks</strong> sebagai informasi tambahan.</p>
<p>Aplikasi ini tidak melakukan deteksi otomatis hoaks, tetapi hanya menampilkan hasil berdasarkan kesesuaian narasi berita dengan kata kunci pengguna.</p>
<p>by 230411100136 - ABDUL MALIK ADZ-DZIKRI</p>
{% endblock %}
